body{
    background-color: black;
}

#chrono {
    font-weight: bold;
    font-family: monospace;
    font-size: 3rem;
    margin: 2rem;
    padding: 2rem;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.5rem;
    display: inline-block;
    border-color: #00ff11;
    color: #00ff11;
}
