@import 'tailwindcss';

@theme {
    /* brand colors fixes */
    /* accessibles via : bg-brand-blue, text-brand-blue, border-brand-blue, etc. */
    --color-brand-blue: #51a2ff;
    --color-brand-purple: #c27aff;
    --color-brand-emerald: #00d492;

    --color-brand-error: #ef4444;

    /* mapping */
    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-surface: var(--surface);
    --color-surface-highlight: var(--surface-highlight);

    --color-border: var(--border);
    --color-muted: var(--muted);
}

@layer base {
    /* thème clair (par défaut) */
    :root,
    .theme-light {
        --background: #ffffff;
        --foreground: #171717;
        --surface: #f5f5f5;
        --surface-highlight: #e5e5e5;
        --border: #d4d4d4;
        --muted: #737373;

        --color-background: var(--background);
        --color-foreground: var(--foreground);
        --color-surface: var(--surface);
        --color-surface-highlight: var(--surface-highlight);
        --color-border: var(--border);
        --color-muted: var(--muted);
    }

    /* thème sombre */
    .theme-dark {
        --background: #171717;
        --foreground: #ffffff;
        --surface: #262626;
        --surface-highlight: #404040;
        --border: #404040;
        --muted: #b1b1b1;

        --color-background: var(--background);
        --color-foreground: var(--foreground);
        --color-surface: var(--surface);
        --color-surface-highlight: var(--surface-highlight);
        --color-border: var(--border);
        --color-muted: var(--muted);
    }

    body {
        transition-property: color, background-color, border-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }
}
