@import 'tailwindcss';

:root {
    --background: #F0F4FF;
    --foreground: #040404;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--foreground);
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.8);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.h1-main {
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    animation: fadeInScale 0.5s ease-in-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}


.bouton {
    background-color: #0070f3;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    cursor: pointer;
    scale: 1;
    transition: background-color 0.3s ease;
}